# ignore all files...
*.*

# ... except these:

# .gitignore file
!.gitignore

# .gitattributes file
!.gitattributes

# README.md
!README.md

# CHANGELOG.md
!CHANGELOG.md

# pyproject.toml
!pyproject.toml

# python source files
!*.py

# html source files
!*.html

# javascript source files
!*.js

# css source files
!*.css

# abaqus input files
!*.inp

# resources
!*.ico
!*.svg
!*.png
!*.gif
